<!DOCTYPE html>
<html>
<head>
    <title>DVD Search</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	<div id="content">
		<div id="searchbox">
			<form action="dvds" method="get">
				<span class="title">D V D &nbsp; T I T L E :</span>
				<br><br>
				<input type="text" name="title">
				<br><br><br>
				<span class="title">A W A R D :</span>
				<br><br>
				<select name="award">
					<option value="Oscar">Oscar</option>
					<option value="Grammy">Grammy</option>
				</select>
				<br><br><br>
				<button type="submit" value="Search">search!</button>
			</form>
		</div>
	</div>
</body>
</html>